<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>targetTpye</key>
		<string>0</string>
		<key>targetController</key>
		<string>NULL</string>
		<key>controllerTitle</key>
		<string>NULL</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>1</string>
		<key>targetController</key>
		<string>PayRentViewController</string>
		<key>controllerTitle</key>
		<string>水电缴费</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>2</string>
		<key>targetController</key>
		<string>MeetingAreaChooseViewController</string>
		<key>controllerTitle</key>
		<string>会议室预定(选择区域)</string>
		<key>needLogin</key>
		<false/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>3</string>
		<key>targetController</key>
		<string>OfficePurchaseViewController</string>
		<key>controllerTitle</key>
		<string>办公耗材</string>
		<key>needLogin</key>
		<false/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>4</string>
		<key>targetController</key>
		<string>FinancialAccountingViewController</string>
		<key>controllerTitle</key>
		<string>财税代理</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>5</string>
		<key>targetController</key>
		<string>SQDecorationServeVC</string>
		<key>controllerTitle</key>
		<string>办公装修</string>
		<key>needLogin</key>
		<false/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>6</string>
		<key>targetController</key>
		<string>AdvertisesForViewController</string>
		<key>controllerTitle</key>
		<string>人才服务</string>
		<key>needLogin</key>
		<false/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>7</string>
		<key>targetController</key>
		<string>IntegrationIndustryCommerceController</string>
		<key>controllerTitle</key>
		<string>工商代办</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>8</string>
		<key>targetController</key>
		<string>ProjectApplyForViewController</string>
		<key>controllerTitle</key>
		<string>政府补贴申请</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>9</string>
		<key>targetController</key>
		<string>OfficePurchaseViewController</string>
		<key>controllerTitle</key>
		<string>办公家具</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>10</string>
		<key>targetController</key>
		<string>PropertyRepairViewController</string>
		<key>controllerTitle</key>
		<string>物业服务</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>11</string>
		<key>targetController</key>
		<string>FundSupportViewController</string>
		<key>controllerTitle</key>
		<string>资金扶持</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>12</string>
		<key>targetController</key>
		<string>AdvertisementPageViewController</string>
		<key>controllerTitle</key>
		<string>广告招商</string>
		<key>needLogin</key>
		<false/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>13</string>
		<key>targetController</key>
		<string>AdvertisementPageViewController</string>
		<key>controllerTitle</key>
		<string>水电缴费订单</string>
		<key>needLogin</key>
		<false/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>14</string>
		<key>targetController</key>
		<string>MyIntegrationIndustryCommerceController</string>
		<key>controllerTitle</key>
		<string>工商代理订单</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>15</string>
		<key>targetController</key>
		<string>MyFinancialAccountViewController</string>
		<key>controllerTitle</key>
		<string>税务服务订单</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>16</string>
		<key>targetController</key>
		<string>OfficePurchaseOrderListViewController</string>
		<key>controllerTitle</key>
		<string>办公采购订单</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>17</string>
		<key>targetController</key>
		<string>SQDecorationOrderVC</string>
		<key>controllerTitle</key>
		<string>办公装修订单</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>18</string>
		<key>targetController</key>
		<string>MeetingOrderViewController</string>
		<key>controllerTitle</key>
		<string>会议室预定订单</string>
		<key>needLogin</key>
		<false/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>19</string>
		<key>targetController</key>
		<string>MyRecruitViewController</string>
		<key>controllerTitle</key>
		<string>人才招聘订单</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>20</string>
		<key>targetController</key>
		<string>MineProjectApplyViewController</string>
		<key>controllerTitle</key>
		<string>项目申报订单</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>100</string>
		<key>targetController</key>
		<string>SQChooseGardenVC</string>
		<key>controllerTitle</key>
		<string>个性化定制首页</string>
		<key>needLogin</key>
		<true/>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>200</string>
		<key>targetController</key>
		<string>EvaluateViewController</string>
		<key>controllerTitle</key>
		<string>用户反馈</string>
		<key>needLogin</key>
		<true/>
	</dict>
</array>
</plist>
