<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>mine_instashot</string>
		<key>name</key>
		<string>随手拍</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_commerce</string>
		<key>name</key>
		<string>工商一体化</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_financial_journal</string>
		<key>name</key>
		<string>财务代记账</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_collection_red</string>
		<key>name</key>
		<string>我的收藏</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_integral_yellow</string>
		<key>name</key>
		<string>我的青币</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_purchase_blue</string>
		<key>name</key>
		<string>我的抢购</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_havefun_red</string>
		<key>name</key>
		<string>我的一起玩</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_steward_green</string>
		<key>name</key>
		<string>我的管家</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_personnel_service_yellow</string>
		<key>name</key>
		<string>我的人才服务</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_nursery_finance_green</string>
		<key>name</key>
		<string>我的资金扶持</string>
	</dict>
	<dict>
		<key>image</key>
		<string>mine_setting_blue</string>
		<key>name</key>
		<string>设置</string>
	</dict>
</array>
</plist>
