<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>首页</string>
		<key>viewController</key>
		<string>SQHomeViewController</string>
		<key>selectedImage</key>
		<string>tab__icon1-1</string>
		<key>normalImage</key>
		<string>tab__icon1</string>
	</dict>
	<dict>
		<key>title</key>
		<string>个人中心</string>
		<key>viewController</key>
		<string>SQUserCenterViewController</string>
		<key>selectedImage</key>
		<string>tab__icon2-2</string>
		<key>normalImage</key>
		<string>tab__icon2</string>
	</dict>
	<dict>
		<key>title</key>
		<string>联系客服</string>
		<key>viewController</key>
		<string>MyCenterViewController</string>
		<key>selectedImage</key>
		<string>tab__icon3-3</string>
		<key>normalImage</key>
		<string>tab__icon3</string>
	</dict>
</array>
</plist>
