<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>项目申报</string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>资金扶持</string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>物业服务</string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>广告位招商</string>
		<key>vc</key>
		<string></string>
	</dict>
	<dict>
		<key>title</key>
		<string>人才招聘</string>
		<key>vc</key>
		<string></string>
	</dict>
</array>
</plist>
