<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>targetTpye</key>
		<string>0</string>
		<key>targetController</key>
		<string>NULL</string>
		<key>controllerTitle</key>
		<string>NULL</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>1</string>
		<key>targetController</key>
		<string>PayRentViewController</string>
		<key>controllerTitle</key>
		<string>水电缴费</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>2</string>
		<key>targetController</key>
		<string>MeetingAreaChooseViewController</string>
		<key>controllerTitle</key>
		<string>会议室预定(选择区域)</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>3</string>
		<key>targetController</key>
		<string>OfficePurchaseViewController</string>
		<key>controllerTitle</key>
		<string>办公耗材</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>4</string>
		<key>targetController</key>
		<string>FinancialAccountingViewController</string>
		<key>controllerTitle</key>
		<string>财税代理</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>5</string>
		<key>targetController</key>
		<string>DecorationCarMainController</string>
		<key>controllerTitle</key>
		<string>办公装修</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>6</string>
		<key>targetController</key>
		<string>AdvertisesForViewController</string>
		<key>controllerTitle</key>
		<string>人才服务</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>7</string>
		<key>targetController</key>
		<string>IntegrationIndustryCommerceController</string>
		<key>controllerTitle</key>
		<string>工商代办</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>8</string>
		<key>targetController</key>
		<string>ProjectApplyForViewController</string>
		<key>controllerTitle</key>
		<string>政府补贴申请</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>9</string>
		<key>targetController</key>
		<string>OfficePurchaseViewController</string>
		<key>controllerTitle</key>
		<string>办公家具</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>10</string>
		<key>targetController</key>
		<string>PropertyRepairViewController</string>
		<key>controllerTitle</key>
		<string>物业服务</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>11</string>
		<key>targetController</key>
		<string>FundSupportViewController</string>
		<key>controllerTitle</key>
		<string>资金扶持</string>
	</dict>
	<dict>
		<key>targetTpye</key>
		<string>12</string>
		<key>targetController</key>
		<string>AdvertisementPageViewController</string>
		<key>controllerTitle</key>
		<string>广告招商</string>
	</dict>
</array>
</plist>
